<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding bg-style">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center" id="img-logo">
          <ion-img src="assets/img/logo.png"></ion-img>
        </div>
        <div class="ion-text-center">
          <h1 class="ion-text-center">Recuperar contraseña!</h1>
        </div>
        <form class="form" [formGroup]="reset_form" (ngSubmit)="resetPassword()">
          
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="correo" type="email" ></ion-input>
              </ion-item>
              <p>{{correo.invalid}},{{correo.touched}},{{reset_form.invalid}}</p>
              <ion-label *ngIf="correo.invalid && correo.touched" color="danger">campo email requerido</ion-label>
            </ion-list>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="reset_form.invalid" size="large" expand="full">Enviar email</ion-button>
          </div>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>