<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="15"
    [mapTypeId]="'roadmap'"
    (mapClick)="mapClicked($event)"
    [streetViewControl]="false">

    <agm-marker
      [latitude]="lat"
      [longitude]="lng">
    </agm-marker>
  </agm-map> 
  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
      <ion-fab-button color="dark" (click)="onSave()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
