

<ion-content class="ion-padding bg-style">
  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center" id="img-logo">
                <ion-img src="assets/img/logo.png"></ion-img>
              </div>
          <div class="ion-text-center">
            <h1 class="ion-text-center">¡BIENVENIDO!</h1>
          </div>
          <ion-list>

              <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input [(ngModel)]="username" clearInput inputmode="email" type="email" ></ion-input>
                  </ion-item>
                  
                  <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input [(ngModel)]="password" type="password" inputmode="password" ></ion-input>
                  </ion-item>
                  
                  <ion-button class="ion-float-right btn-clear" size="small" fill="clear">olvidaste tu contraseña</ion-button>

            </ion-list>
    
          <div class="ion-padding">
              <ion-button (click)="signIn()" size="large" expand="full" >Continuar</ion-button>
          </div>
          <div class="ion-padding">
              <h3 class="ion-padding-top ion-text-center">¿No tienes una cuenta?</h3>
              <ion-button full size="large" (click)="goSignUp()" expand="full" fill="clear">CREAR CUENTA</ion-button>
            </div>
            <p>Version {{version}}</p>


        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
