p{

   text-align: center;
}
ion-img{

    width: 50%;
    height: 50%;
    margin-left: 25%;
}

ion-grid{

    margin-top: 5%;
}

.list-md {
        margin: 0;
        padding: 8px 0;

    }

.list-ios {
        margin: -1px 0 32px;
        
    }

#btn-clear{
   --bacground: red;
}

h1{
    color: #a8a8a8;
}

h3{
    color: #a8a8a8;
}

