<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tarjetas">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Tarjetas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camara</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="edit">
      <ion-icon name="create"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
