ion-content{
    --background: #faf9f8;
}

#img-user{

    width: 80px;
    height: 80px;
}

#img-icon{
    width: 48px;
    height: 48px;
}

#datos{
    margin-top: 6px;
}

.list-md {
    margin: -21px;
    background: var(--ion-item-background,var(--ion-background-color,#1C00ff00))
}
h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;

}

h5{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;

}

h6{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.sc-ion-card-md-h {
    margin: 0px;

}


