<ion-header>
        <ion-toolbar>
          <ion-title text-center>Lector Qr</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
        <h2>Acepta los permisos de tu camara para activarla y escanear el codigo QR</h2>
          
 
          <!-- <div *ngIf="scannedData">
            <p>Scanned Code Text : <b>{{scannedData['text']}}</b></p>
            <p>Scanned Code Format : <b>{{scannedData['format']}}</b></p>
          </div>

          <ion-item>
            <ion-label position="floating">Enconde</ion-label>
            <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
        </ion-item>
          <button ion-button (click)="encodedText()">Encode Text</button>
          <div *ngIf="encodeData">
            <p>Scanned Code Text : <b>{{encodeData['text']}}</b></p>
            <p>Scanned Code Format : <b>{{encodeData['file']}}</b></p>
          </div> -->
      </ion-content>