<ion-header>
    <ion-toolbar>
      <ion-title text-center><img src="assets/img/logoLargo.png" style="height: 44px;"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      <ion-item>
          <ion-col size="6">
              <ion-thumbnail id="img-user">
                  <img _ngcontent-c2="" src="assets/img/juan.jpg" style="border-radius: 50%;">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="6">
                <ion-thumbnail id="img-user">
                    <img _ngcontent-c2="" src="assets/img/juan.jpg" style="border-radius: 50%;">
                </ion-thumbnail>
              </ion-col>
        </ion-item>

        <ion-item id="list-date">
              <p>I saw a werewolf with a Chinese menu in his hand.</p>
          </ion-item>

        <ion-item id="datos">
            <ion-col size="3">
                <ion-thumbnail id="img-icon">
                    <img _ngcontent-c2="" src="assets/img/juan.jpg">
                </ion-thumbnail>
              </ion-col>
              <p>I saw a werewolf with a Chinese menu in his hand.</p>
          </ion-item>
          <ion-item id="datos" >
              <ion-col size="3">
                  <ion-thumbnail id="img-icon">
                      <img _ngcontent-c2="" src="assets/img/juan.jpg">
                  </ion-thumbnail>
                </ion-col>
                <p>I saw a werewolf with a Chinese menu in his hand.</p>
            </ion-item>

  </ion-content>

  
  
