<ion-header>
    <ion-toolbar>
        <ion-title text-center><img src="assets/img/logoLargo.png" style="height: 44px;"></ion-title>
      </ion-toolbar>
  </ion-header>

<ion-content padding>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
              </ion-refresher>

  <app-search (searchCompleted)="filteredTarjetas($event)"
  [items]="copyOfMisTarjetas">
  </app-search>
    <app-tarjetas-list
        [items]="misTarjetas"
        [navigateTo]="generateUrl">
    </app-tarjetas-list>
</ion-content>
