ion-content{
    --background: #faf9f8;
}

ion-button{

        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        letter-spacing: inherit;
        color: #fff;
        --background: red;
        overflow: var(--overflow);

}

.btn-red{
    --background: #fff;
    width: 44px;
    height: 44px;
    
}
.img-red{
    position: absolute;
   
}


#img-user{

    width: 80px;
    height: 80px;
    --border-radius: 50%;
}

#img-icon{
    width: 48px;
    height: 48px;
}

#datos{
    margin-top: 6px;
}

#tweet{
    height: 120px;
}

#red{
    height: 48px;
}

#img-qr{
    width: 144px;
    height: 144px;
}

ion-title{

    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #5d5d5d;

}


h3{
    color: #a8a8a8;
}

h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #5d5d5d;
}

h5{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: capitalize;
    color: #5d5d5d;

}

h6{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.sc-ion-card-md-h {
    margin: 0px;

}


