<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title text-center>{{miTarjeta?.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>
      
      <ion-content padding>
        <div *ngIf="miTarjeta">
          <ion-item>
              <ion-col size="6" style="text-align: -webkit-center;">
                  <ion-thumbnail id="img-user">
                      <ion-img   [src]="miTarjeta.foto" ></ion-img>
                  </ion-thumbnail>
                  <ion-label>{{miTarjeta?.nombre}}</ion-label>
                </ion-col>
                <ion-col size="6" style="text-align: -webkit-center;">
                    <ion-thumbnail id="img-user">
                        <ion-img  [src]="miTarjeta.logo"></ion-img>
                    </ion-thumbnail>
                    <ion-label>{{miTarjeta?.empresa}}</ion-label>
                  </ion-col>
            </ion-item>
    
            <ion-item id="list-date">
                <div id="tweet">
                  <p>{{miTarjeta?.twit}}</p>
                </div>
              </ion-item>
              <ion-item id="list-date" style="text-align: -webkit-ri;">
                    <ion-thumbnail id="img-icon" *ngIf="miTarjeta?.facebook">
                            <ion-button class="btn-red"  [href]="miTarjeta?.facebook"> 
                                <ion-img class="img-red" src="assets/img/face.png" text-center></ion-img>
                           </ion-button>
                        </ion-thumbnail>
                        <ion-thumbnail id="img-icon" *ngIf="miTarjeta?.instagram">
                                <ion-button class="btn-red"  [href]="miTarjeta?.instagram"> 
                                    <ion-img class="img-red" src="assets/img/insta.png" text-center></ion-img>
                               </ion-button>
                            </ion-thumbnail>
                            <ion-thumbnail id="img-icon" *ngIf="miTarjeta?.www">
                                    <ion-button class="btn-red"  [href]="miTarjeta?.www"> 
                                        <ion-img class="img-red" src="assets/img/web.png" text-center></ion-img>
                                   </ion-button>
                                </ion-thumbnail>
                  </ion-item>
    
            <ion-item id="datos">
                <ion-col size="3">
                    <ion-thumbnail id="img-icon">
                        <ion-img src="assets/img/phone.png"></ion-img>
                    </ion-thumbnail>
                  </ion-col>
                  <ion-label>Telefono: <p>{{miTarjeta?.telefono}}</p></ion-label>
              </ion-item>
              <ion-item id="datos" >
                  <ion-col size="3">
                      <ion-thumbnail id="img-icon">
                          <ion-img src="assets/img/home.png"></ion-img>
                      </ion-thumbnail>
                    </ion-col>
                    <ion-label>Direccion: <p>{{miTarjeta?.direccion}}</p></ion-label>
                    <ion-thumbnail id="img-icon">
                            <ion-button class="btn-red"> 
                                <ion-img class="img-red" src="assets/img/maps.png" text-center></ion-img>
                           </ion-button>
                        </ion-thumbnail>
                </ion-item>
                <ion-item id="datos">
                    <ion-col size="3">
                        <ion-thumbnail id="img-icon">
                            <ion-img  src="assets/img/mail.png"></ion-img>
                        </ion-thumbnail>
                      </ion-col>
                      <ion-label>Correo: <p>{{miTarjeta?.email}}</p></ion-label>
                  </ion-item>
                <ion-item id="datos">
    
                        <ion-row>
                                <ion-col size="12" size-sm>
                                        <h3 text-center padding-top >CODIGO PARA COMPARTIR CONTACTO</h3>
                                </ion-col>
                                <ion-col size="12" size-sm style="text-align: -webkit-center;">
                                        <ion-thumbnail id="img-qr">
                                                <ion-img [src]="miTarjeta.qr"></ion-img>
                                        </ion-thumbnail>
                                </ion-col>
                                <ion-col size="12" size-sm>
                                        <h3 text-center padding-top >ESCANEA USANDO TRUELINC</h3>
                                </ion-col>
                    
                        </ion-row>
            
    
                </ion-item>
    
                <ion-button expand="full">Dejar de seguir</ion-button>
            </div>
      </ion-content>
    
      
      
    