<ion-header>
        <ion-toolbar>
          <ion-title text-center><img src="assets/img/logoLargo.png" style="height: 44px;"></ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
    
          <ion-item>
              <ion-col size="6" style="text-align: -webkit-center;">
                  <ion-thumbnail id="img-user">
                      <img _ngcontent-c2="" src="assets/img/juan.jpg" style="border-radius: 50%;">
                  </ion-thumbnail>
                  <ion-label>Label</ion-label>
                </ion-col>
                <ion-col size="6" style="text-align: -webkit-center;">
                    <ion-thumbnail id="img-user">
                        <img _ngcontent-c2="" src="assets/img/Indibyte.png" style="border-radius: 50%;">
                    </ion-thumbnail>
                    <ion-label>Label</ion-label>
                  </ion-col>
            </ion-item>
    
            <ion-item id="list-date">
                <div id="tweet">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere facilisis mauris, </p>
                </div>
              </ion-item>
              <ion-item id="list-date" style="text-align: -webkit-ri;">
                    <ion-thumbnail id="img-icon">
                            <button  (click)="click()" block style="background-color:#fff">
                                <img src="assets/img/face.png" text-center>
                           </button>
                        </ion-thumbnail>
                        <ion-thumbnail id="img-icon">
                                <button  (click)="click()" block style="background-color:#fff">
                                    <img src="assets/img/insta.png" text-center>
                               </button>
                            </ion-thumbnail>
                            <ion-thumbnail id="img-icon">
                                    <button  (click)="click()" block style="background-color:#fff">
                                        <img src="assets/img/web.png" text-center>
                                   </button>
                                </ion-thumbnail>
                  </ion-item>
    
            <ion-item id="datos">
                <ion-col size="3">
                    <ion-thumbnail id="img-icon">
                        <img _ngcontent-c2="" src="assets/img/phone.png">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-label>Telefono</ion-label>
              </ion-item>
              <ion-item id="datos" >
                  <ion-col size="3">
                      <ion-thumbnail id="img-icon">
                          <img _ngcontent-c2="" src="assets/img/home.png">
                      </ion-thumbnail>
                    </ion-col>
                    <ion-label>Direccion</ion-label>
                    <ion-thumbnail id="img-icon">
                        <button  (click)="click()" block style="background-color:#fff">
                            <img src="assets/img/maps.png">
                       </button>
                    </ion-thumbnail>
                </ion-item>
                <ion-item id="datos">
                    <ion-col size="3">
                        <ion-thumbnail id="img-icon">
                            <img _ngcontent-c2="" src="assets/img/mail.png">
                        </ion-thumbnail>
                      </ion-col>
                      <ion-label>Correo</ion-label>
                  </ion-item>
                <ion-item id="datos">
    
                        <ion-row>
                                <ion-col size="12" size-sm>
                                        <h3 text-center padding-top style="color:#a8a8a8;">CODIGO PARA COMPARTIR CONTACTO</h3>
                                </ion-col>
                                <ion-col size="12" size-sm style="text-align: -webkit-center;">
                                        <ion-thumbnail id="img-qr">
                                                <img _ngcontent-c2="" src="assets/img/no-qr.png">
                                        </ion-thumbnail>
                                </ion-col>
                                <ion-col size="12" size-sm>
                                        <h3 text-center padding-top style="color:#a8a8a8;">ESCANEA USANDO TRUELINC</h3>
                                </ion-col>
                    
                        </ion-row>
            
    
                </ion-item>
    
                <ion-button expand="full">ELIMINAR</ion-button>
    
      </ion-content>
    
      
      
    