

<ion-content padding class="bg-style">
 
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center id="img-logo">
                  <ion-img src="assets/img/logoLargo.png"></ion-img>
                </div>
            
            <ion-list>

                    <ion-item>
                            <ion-col size="6" style="text-align: -webkit-center;">
                                <ion-thumbnail id="img-user">
                    
                                    <ion-button>
                                        <ion-img src="assets/img/juan.jpg"></ion-img>
                                      </ion-button>
                                    </ion-thumbnail>
                                <ion-label>Escoge tu Foto</ion-label>
                              </ion-col>
                              <ion-col size="6" style="text-align: -webkit-center;">
                                  <ion-thumbnail id="img-user">
                                      <ion-button>
                                        <ion-img src="assets/img/Indibyte.png"></ion-img>
                                      </ion-button>
                                    </ion-thumbnail>
                                  <ion-label>Escoge tu logo</ion-label>
                                </ion-col>
                          </ion-item>

                          <h6 text-center>Es necesaria esta informacion para tu perfil</h6>

                          <ion-list>
                                <ion-item>
                                        <ion-textarea placeholder="Empresa"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Cargo"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Nombre"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Correo"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Contraseña"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Telefono"></ion-textarea>
                                </ion-item>
                                <ion-item>
                                        <ion-textarea placeholder="Direccion"></ion-textarea>
                                </ion-item>
                            
                              </ion-list>
                              

              </ion-list>
      
            <div padding>
                <ion-button class="btn-perfil" size="large" expand="full">CREAR PERFIL</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  