<ion-header>
    <ion-toolbar>
            <ion-title text-center><img class="img" src="assets/img/logoLargo.png"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding> 
<form class="form" [formGroup]="editarForm" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-col size="6" style="text-align: -webkit-center;">
              <ion-thumbnail id="img-user">
  
                  <ion-button (click)="getLogo()">
                      <ion-img [src]="miTarjeta?.logo" ></ion-img>
                    </ion-button>
                  </ion-thumbnail>
              <ion-label>Cambia tu Logo</ion-label>
            </ion-col>
            <ion-col size="6" style="text-align: -webkit-center">
                <ion-thumbnail id="img-user">
                    <ion-button (click)="getFoto()">
                      <ion-img [src]="miTarjeta?.foto" ></ion-img>
                    </ion-button>
                  </ion-thumbnail>
                <ion-label>Cambia tu Foto</ion-label>
              </ion-col>
        </ion-item>


        <ion-item>
                <ion-col size="12">
                      <ion-item>
                              <ion-label position="floating">Empresa</ion-label>
                              <ion-input formControlName="empresa" type="text"></ion-input>
                      </ion-item>
                  </ion-col>
              </ion-item>

          <ion-item >
              <ion-col size="12">
                    <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input formControlName="nombre" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-item>

            <ion-item >
                    <ion-col size="12">
                          <ion-item>
                                  <ion-label position="floating">Cargo</ion-label>
                                  <ion-input formControlName="cargo" type="text"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-item>

              <ion-item>
                  <ion-col size="12">
                      <ion-label>Perfil o Informacion adicional</ion-label>
                      <ion-item>
                          <ion-textarea formControlName="twit" placeholder="Escribe tu descripcion"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-item>

                
                

          
            <ion-list-header>Tags</ion-list-header>
                <p>
                    <ion-chip outline color="primary" #chip *ngFor="let tag of tagArray; let i = index">
                        <ion-label>{{tag}}</ion-label>
                        <ion-icon name="close-circle" (click)="remove(i)"></ion-icon>
                    </ion-chip>
                </p>
                <ion-item>
                    <div class="ion-chip-group">
                      <ion-input formControlName="tagValue" (keyup)="onKey($event)" placeholder="Add Tag.."></ion-input>
                    </div>
                  </ion-item>
                
                

        <ion-item >
            <ion-col size="3">
                <ion-thumbnail id="img-icon">
                    <ion-img src="assets/img/phone.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
                          <ion-item class="input">
                                  <ion-label position="floating">Telefono</ion-label>
                                  <ion-input placeholder="Escribe tu telefono"  formControlName="telefono" type="number"></ion-input>
                          </ion-item>
          </ion-item>
          <ion-item >
              <ion-col size="3">
                  <ion-thumbnail id="img-icon">
                      <ion-img src="assets/img/home.png"></ion-img>
                  </ion-thumbnail>
                </ion-col>
                <ion-item class="input">
                        <ion-label position="floating">Direccion</ion-label>
                        <ion-input  placeholder="Escribe tu direccion" formControlName="direccion" type="text"></ion-input>
                </ion-item>
            </ion-item>
            <ion-item >
                <ion-col size="3">
                    <ion-thumbnail id="img-icon">
                        <ion-img src="assets/img/mail.png"></ion-img>
                    </ion-thumbnail>
                  </ion-col>
                  <ion-item class="input">
                        <ion-label position="floating">Correo</ion-label>
                        <ion-input placeholder="Escribe tu correo"  formControlName="correo" type="email"></ion-input>
                </ion-item>

              </ion-item>

              <ion-item >
                    <ion-col size="3">
                        <ion-thumbnail id="img-icon">
                            <ion-img src="assets/img/face.png"></ion-img>
                        </ion-thumbnail>
                      </ion-col>
                     
                      <ion-item class="input">
                            <ion-label position="floating">Facebook</ion-label>
                            <ion-input  placeholder="Escribe tu Facebook" formControlName="facebook" type="text"></ion-input>
                    </ion-item>


    
                  </ion-item>

                  <ion-item>
                        <ion-col size="3">
                            <ion-thumbnail id="img-icon">
                                <ion-img src="assets/img/insta.png"></ion-img>
                            </ion-thumbnail>
                          </ion-col>
                          <ion-item class="input">
                                <ion-label position="floating">Instagram</ion-label>
                                <ion-input  placeholder="Escribe tu Instagram" formControlName="instagram" type="text"></ion-input>
                        </ion-item>
        
                      </ion-item>

                      <ion-item >
                            <ion-col size="3">
                                <ion-thumbnail id="img-icon">
                                    <ion-img src="assets/img/web.png"></ion-img>
                                </ion-thumbnail>
                              </ion-col>
                              <ion-item class="input">
                                    <ion-label position="floating">Pagina Web</ion-label>
                                    <ion-input  placeholder="Escribe tu pagina web"  formControlName="web" type="text"></ion-input>
                            </ion-item>
            
                          </ion-item>

              <ion-item class="privada" text-center>
                  <ion-col size="9">
                  <h5>Deseas que tu tarjeta TRUELINK sea PRIVADA</h5>
                </ion-col>
                <ion-col size="3">
                  <ion-toggle formControlName="privada" ></ion-toggle>
                </ion-col>
                 
                </ion-item>
               
                <ion-item class="privacidad" text-center>
                        <div text-center>
                                <h6>La privacidad de la tarjeta genera un costo adicional</h6> 
                          </div>
                </ion-item>
                <ion-item >
                  <ion-button class="btn-item" color="tertiary" (click)="goMap()" size="large" expand="full" >Geoposition</ion-button>
                </ion-item>

              <ion-item >
            <ion-button type='submit' [disabled]="!editarForm.valid" class="btn-item" expand="full" >GUARDAR CAMBIOS</ion-button>
          </ion-item>

          
          
            <div  text-center>
              <ion-button class="btn-item" color="danger" (click)="logOut()" size="large" expand="full" >Log out</ion-button>
            </div>
        </form>
  </ion-content>

  
  


