<ion-header>
    <ion-toolbar>
      <ion-title text-center><img src="assets/img/logoLargo.png" style="height: 44px;"></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      <ion-item>
          <ion-col size="6" style="text-align: -webkit-center;">
              <ion-thumbnail id="img-user">
  
                  <ion-button>
                      <ion-img src="assets/img/noImage.jpg" ></ion-img>
                    </ion-button>
                  </ion-thumbnail>
              <ion-label>Cambia tu foto</ion-label>
            </ion-col>
            <ion-col size="6" style="text-align: -webkit-center">
                <ion-thumbnail id="img-user">
                    <ion-button>
                      <ion-img src="assets/img/noImage.jpg" ></ion-img>
                    </ion-button>
                  </ion-thumbnail>
                <ion-label>Cambia tu logo</ion-label>
              </ion-col>
        </ion-item>


        <ion-item>
                <ion-col size="12">
                      <ion-item>
                              <ion-label position="floating">Empresa</ion-label>
                              <ion-input type="text"></ion-input>
                      </ion-item>
                  </ion-col>
              </ion-item>

          <ion-item >
              <ion-col size="12">
                    <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-item>

            <ion-item >
                    <ion-col size="12">
                          <ion-item>
                                  <ion-label position="floating">Cargo</ion-label>
                                  <ion-input type="text"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-item>

              <ion-item>
                  <ion-col size="12">
                      <ion-label>Perfil o Informacion adicional</ion-label>
                      <ion-item>
                          <ion-textarea placeholder="Escribe tu descripcion"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-item>

        <ion-item >
            <ion-col size="3">
                <ion-thumbnail id="img-icon">
                    <ion-img src="assets/img/phone.png"></ion-img>
                </ion-thumbnail>
              </ion-col>
                          <ion-item>
                                  <ion-label position="floating">Telefono</ion-label>
                                  <ion-input type="number"></ion-input>
                          </ion-item>
          </ion-item>
          <ion-item >
              <ion-col size="3">
                  <ion-thumbnail id="img-icon">
                      <ion-img src="assets/img/home.png"></ion-img>
                  </ion-thumbnail>
                </ion-col>
                <ion-item>
                        <ion-label position="floating">Direccion</ion-label>
                        <ion-input type="text"></ion-input>
                </ion-item>
            </ion-item>
            <ion-item >
                <ion-col size="3">
                    <ion-thumbnail id="img-icon">
                        <ion-img src="assets/img/mail.png"></ion-img>
                    </ion-thumbnail>
                  </ion-col>
                  <ion-item>
                        <ion-label position="floating">Correo</ion-label>
                        <ion-input type="email"></ion-input>
                </ion-item>

              </ion-item>

              <ion-item >
                    <ion-col size="3">
                        <ion-thumbnail id="img-icon">
                            <ion-img src="assets/img/face.png"></ion-img>
                        </ion-thumbnail>
                      </ion-col>
                      <ion-item>
                            <ion-label position="floating">Facebook</ion-label>
                            <ion-input type="text"></ion-input>
                    </ion-item>
    
                  </ion-item>

                  <ion-item>
                        <ion-col size="3">
                            <ion-thumbnail id="img-icon">
                                <ion-img src="assets/img/insta.png"></ion-img>
                            </ion-thumbnail>
                          </ion-col>
                          <ion-item>
                                <ion-label position="floating">Instagram</ion-label>
                                <ion-input type="text"></ion-input>
                        </ion-item>
        
                      </ion-item>

                      <ion-item >
                            <ion-col size="3">
                                <ion-thumbnail id="img-icon">
                                    <ion-img src="assets/img/web.png"></ion-img>
                                </ion-thumbnail>
                              </ion-col>
                              <ion-item>
                                    <ion-label position="floating">Pagina Web</ion-label>
                                    <ion-input type="text"></ion-input>
                            </ion-item>
            
                          </ion-item>

              <ion-item text-center>
                  <h6>Deseas que tu tarjeta TRUELINK sea publica</h6>
                  <ion-toggle [(ngModel)]="privada"></ion-toggle>
                </ion-item>
                
              <ion-item >
            <ion-button class="btn-item" expand="full" >GUARDAR CAMBIOS</ion-button>
          </ion-item>

          
          
            <div margin-top text-center>
              <ion-button class="btn-item" color="danger" (click)="logOut()" size="large" expand="full" >Log out</ion-button>
            </div>
  </ion-content>

  
  


