ion-content{
    --background: #faf9f8;
}


.privada{

    margin-bottom: 6px;
    --background: #fff;
    
}
.privacidad{

    margin-top: -6%;
    align-self: auto;
    display: grid;
    justify-content: center;
    height: 20px;
    --background: transparent;
    margin-bottom: 5%;
    
}

.tag{

    margin-bottom: -3%;
}

.input{

    width: 100%
}
ion-item{
    margin-bottom: 6px;
    margin-left: -15px;
    margin-right: -15px;
}



ion-button{
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    --background: transparent;
    overflow: var(--overflow);
    -moz-appearance: none;
    appearance: none;
}
ion-toggle{
    margin-left: 6px;
}

.btn-item{

    height: 44px;
    --background: rgb(1, 174, 197);
    color: #faf9f8;
    
}

.img{
    height: 44px;

    padding: 2%;

}
#img-user{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 88px;
    height: 88px;
    --border-radius: 50%;
}

#img-icon{
    width: 48px;
    height: 48px;
}



#tweet{
    height: 120px;
}

#red{
    height: 48px;
}

#img-qr{
    width: 144px;
    height: 144px;
}

.list-md {
    margin: -21px;
    background:rgba(0,0,0,0.5)
}
h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;

}

h5{
    font-size: 0.69em;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom:3px;
    color: #5d5d5d;

}

h6{
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom:3px;
    color: #9e9e9e;
    

}

