<ion-list no-padding *ngIf="items">
  <ion-card *ngFor="let item of items" >
        <ion-img class="tarjeta" src="{{item.foto}}"></ion-img>
        <ion-item (click)="go(item.id)" routerDirection="forward">
            <ion-col size="4">
                <ion-thumbnail id="img-user">
                    <ion-img src="{{item.logo}}" ></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="8">
                  <ion-list>
                      <ion-text><h4>{{item.empresa}}</h4></ion-text>
                      <ion-text><h5>{{item.nombre}}</h5></ion-text>
                      <ion-text><h6>{{item.cargo}}</h6></ion-text>
                    </ion-list>
                </ion-col>
          </ion-item>

  </ion-card>
</ion-list>
<ion-text text-center padding *ngIf="!items?.length > 0">
        <h6>Ohh.. Aun no tienes tarjetas Truelinc</h6>
      </ion-text>