<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center"><img class="img" src="assets/img/logoLargo.png"></ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

      <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button checked value="cerca">
            <ion-label>Cerca</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ciudad">
            <ion-label>Ciudad</ion-label>
          </ion-segment-button>
          <ion-segment-button value="nacional">
            <ion-label>Nacional</ion-label>
          </ion-segment-button>
        </ion-segment>

    
      <ion-searchbar  focus debounce="500" (ionInput)="searchTarjetas($event)"></ion-searchbar>

   

      <ion-list class="ion-no-padding" *ngIf="tarjetas">
          <ion-card *ngFor="let item of tarjetas" >
                <ion-img class="tarjeta" src="{{item.logo}}"></ion-img>
                <ion-item (click)="go(item.id)" routerDirection="forward">
                    <ion-col size="4">
                        <ion-thumbnail id="img-user">
                            <ion-img src="{{item.logo}}" ></ion-img>
                        </ion-thumbnail>
                      </ion-col>
                      <ion-col size="8">
                          <ion-list>
                              <ion-text><h4>{{item.empresa}}</h4></ion-text>
                              <ion-text><h5>{{item.nombre}}</h5></ion-text>
                              <ion-text><h6>{{item.cargo}}</h6></ion-text>
                            </ion-list>
                        </ion-col>
                        
                  </ion-item>
          </ion-card>
        </ion-list>
        
        <ion-text class="ion-padding" color="light" *ngIf="!(tarjetas?.length > 0)">
            <h6 class="ion-text-center" >Busqueda sin resultados</h6>
          </ion-text>

    <!-- <ion-list class="ion-no-padding">
    <ion-card >
        
          <ion-item href="#">
              <ion-col size="4">
                  <ion-thumbnail id="img-user">
                      
                      <ion-img src="assets/img/noImage.jpg" ></ion-img>
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <ion-list>
                      <ion-text><h4>empresa</h4></ion-text>
                      <ion-text><h5>nombre</h5></ion-text>
                      <ion-text><h5>cargo</h5></ion-text>
                      </ion-list>
                  </ion-col>
            </ion-item>
    </ion-card>
    
  
    </ion-list>   -->
  </ion-content>
  
