ion-header ion-toolbar:first-child {
    padding-top: var(--ion-safe-area-top,0);
    height: 44px;
}
ion-content{
    --background: #faf9f8;
}

ion-card{
    --background: #fff;
    padding-top: 22px;

}
#img-user{

    width: 80px;
    height: 80px;
}
.list-md {
    margin: -21px;
    background: var(--ion-item-background,var(--ion-background-color,#1C00ff00))
}
h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;

}

h5{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;

}

h6{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.sc-ion-card-md-h {
    margin: 0px;

}


.sc-ion-segment-md-h {
    margin-top: -25px;
    --background: none;
    --background-checked: none;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.04);
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --color: rgba(var(--ion-text-color-rgb,0,0,0),0.6);
    --color-checked: var(--ion-color-primary,#3880ff);
    --color-checked-disabled: var(--color-checked);
    --indicator-color: #a8a8a8;
}

.sc-ion-searchbar-md-h {
    --clear-button-color: initial;
    --cancel-button-color: var(--ion-color-step-900,#1a1a1a);
    --color: var(--ion-color-step-850,#262626);
    --icon-color: var(--ion-color-step-600,#666);
    --background: var(--ion-background-color,#fff);
    padding: 8px;
    background: inherit;
    margin-bottom: 16px;
}